body {
    padding-top: 5rem;
}

.flexbox{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-between;
    flex-direction: row;
}
    
    
.imgs{
    height:200px;
    width:200px;
}
